<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Kaga - Reverse IP Lookup</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="shortcut icon" href="https://blog.rei.my.id/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="https://i.ibb.co/FXGCKbM/Capture.png" />
    <meta name="description" content="Free Unlimited Reverse IP Lookup Tools With Cute GUI And Easy To Use API. TOTALY FREE NO ADS OR LIMIT" />
</head>

<body>
    <div class="bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400">
        <section class="p-4 flex flex-col justify-center min-h-screen max-w-md mx-auto">
            <p class="text-white overline text-right hover:font-extrabold"><a href="https://rei.my.id"
                    target="_blank">BUY ME A COFFEE</a></p>
            <div class="p-6 bg-white">
                <div class="flex items-center justify-center m-1 mb-9">
                    <h1
                        class="tracking-wide text-3xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400">
                        <a href="/">Reverse IP Lookup</a>
                    </h1>
                </div>
                <form action="/api/reverseip" method="GET" class="flex flex-col">
                    <div class="mb-4">
                        <input
                            class="shadow appearance-none border w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="domain" name="domain" type="text" placeholder="Enter Domain or IP"/>
                    </div>
                    <div class="flex items-center justify-center">
                        <button
                            class="bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline"
                            type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="flex items-center justify-center" id="resultContainer" style="display: none;">
                <textarea
                    class="appearance-none w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="result" name="result" rows="7" readonly></textarea>
            </div>
            <div class="flex justify-between mt-4" id="buttonExtra" style="display: none;">
                <button
                    class="bg-white text-pink-300 font-bold py-2 px-4 focus:outline-none focus:shadow-outline w-1/2 mr-2"
                    id="copyButton" name="copyButton">Copy</button>
                <button
                    class="bg-white text-purple-300 font-bold py-2 px-4 focus:outline-none focus:shadow-outline w-1/2 ml-2"
                    id="saveButton" name="saveButton">Save</button>
            </div>
        </section>
    </div>

    <div id="modal-empty" class="fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div class="inline-block align-bottom bg-white text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                                Warning!
                            </h3>
                            <div class="mt-2">
                                <p class="text-sm text-gray-500">
                                    You should fill the input before submit!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button id="closeModal-empty" type="button" class="bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div id="modal-invalid" class="fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div class="inline-block align-bottom bg-white text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                                Warning!
                            </h3>
                            <div class="mt-2">
                                <p class="text-sm text-gray-500">
                                    Invalid Domain or IP, please try again! or you can contact me via <a class="text-blue-500" href="https://t.me/elliottophellia">Telegram</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button id="closeModal-invalid" type="button" class="bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("form").on("submit", function (event) {
                event.preventDefault();
                var domain = $("#domain").val().replace(/(http:\/\/|https:\/\/)/g, '')
                var domainRegex = /^(?:[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?\.)+[a-z0-9][a-z0-9-]{0,61}[a-z0-9]$|^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
                if (!domain) {
                    $("#modal-empty").removeClass("hidden");
                    return;
                }
                if (!domainRegex.test(domain)) {
                    $("#modal-invalid").removeClass("hidden");
                    return;
                }
                var submitButton = $(this).find('button[type="submit"]');
                var originalButtonText = submitButton.text();
                submitButton.text("Wait a minute ;)");

                $.ajax({
                    url: "/api/reverseip",
                    type: "GET",
                    data: $(this).serialize(),
                    success: function (data) {
                        var resultText = data.ReqResult.ResultList.join('\n');
                        $("#result").val(resultText);
                        $("#resultContainer").show();
                        $("#buttonExtra").show();
                        submitButton.text(originalButtonText);
                    },
                    error: function () {
                        submitButton.text(originalButtonText);
                    },
                });
            });

            $("#copyButton").click(function () {
                var copyText = $("#result");
                copyText.select();
                document.execCommand("copy");
                alert("Copied the text: " + copyText.val());
            });

            $("#saveButton").click(function () {
                var textToSave = $("#result").val();
                var hiddenElement = $('<a></a>');
                hiddenElement.attr('href', 'data:attachment/text,' + encodeURI(textToSave));
                hiddenElement.attr('download', Math.random() + '_result_reverseip.txt');
                hiddenElement[0].click();
            });

            $("#closeModal-empty").click(function () {
                $("#modal-empty").addClass("hidden");
            });
            $("#closeModal-invalid").click(function () {
                $("#modal-invalid").addClass("hidden");
            })
        });
    </script>
</body>

</html>