:root {
    --dark : #383F40 !important;
    --light : #FFFFFF !important;
    --pink : #FDA4AD !important;
    --dark-pink: #FC8D98 !important;
    --green : #71D68D !important;
    --dark-green : #4ECC71 !important;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace !important;
}

dialog {
    border-radius: 20px;
}

button {
    color: var(--dark);
    border-radius: 10px;
}

input.IPAddress {
    border-radius: 20px;
    width: 300px;
    height: 45px;
}

img {
    width: 300px;
}

textarea {
    border-radius: 20px;
    width: 300px;
    height: 100px;
}

textarea::-webkit-scrollbar {
     width: 0 !important 
}

textarea {
    overflow: -moz-scrollbars-none; 
}

textarea {
    -ms-overflow-style: none;
}